@import './config';

.videos {
  max-width: $max-width;
  width: 100%;

  &__loading {
    padding-top: 30vh;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: $gutter;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($gutter / 2);
    margin-right: -($gutter / 2);

    &::after { // stylelint-disable-line
      border-bottom: 1px solid #333;
      content: '';
      display: block;
      margin: 2 * $gutter auto;
      width: 80%;
    }
  }

  &__col {
    @include columns(12);

    display: flex;
    justify-content: center;
    margin-bottom: $gutter;

    @media (min-width: $max-width / 2) {
      @include columns(6);
    }

    @media (min-width: $max-width) {
      @include columns(4);
    }
  }
}
